@media only screen and (max-width: 375px) {
  h1{
    text-align: center;
  }
  .f{
    width: 70px;
    height: 70px;
  }
  .d-flex flex-nowrap{
    display: flex;
    flex-wrap: nowrap;
  }
  .lo{
    width: 100PX;
  }
  h4{
    font-size: 12px;
  }
  audio{
    margin-left: 100px;
  }
  .mapouter{
    width: 150px;
    height: 150px;
  }
}