a{
	text-decoration: none;
	color: black;
}
ul{
	list-style-type: none
}
.li{
	display: inline-block;
	margin-right: 70px;
	margin-left: 200px;
}

.or{
	display: inline-block;
}
img{
	width: 650px;
	height: 650px;
}
.lo{
	display: inline-block;
	margin-top: 10px;
	margin-right: 80px;
	height: 600px;
	width: 350px;
	border-style: solid;
	border: 100px 100px;
	border-color: #BD0000;
	overflow:hidden;
	padding-top: 30px;
}
.lo:hover{
	overflow: visible;
	overflow-x: scroll;
}
.f{
	width: 340px;
    height: 340px;
	margin:20px;

}
.f:hover{
	border-style: ridge;
	border-color: #BD0000;
}
.yo{
	display: inline-block;
}

h1{
  text-align: center;
}
h1:hover{
	color: #BD0000;
}
a:hover{
	color: red;
}

.pi{
	display: inline-block;
	}
.pl{
	display: inline-block;
}
.sos{
	margin-top: 30px;

}
.j{
	margin-top: 40px;
	margin-left: 700px;
	display: inline-block; 

}
.j:hover{
	color: #BD0000;
}
h4{
	margin-top: 10px;
	margin-left: 200px;
}
h4:hover{
	color: #BD0000;
}
audio{
	margin-left: 600px;
}
.lolo{
	color: blue;

}
.rr{
	color: red;
}
footer{
	margin-top: 60px;
	background-color: black;
	width: 100%
}
.hoho{
	padding: 50px;
	display: inline-block;
	margin-top: 200px;
}
.mapouter{
	display: inline-block;
	margin-top: 60px;
	margin-left: 400px;
}
@media only screen and (max-width: 1024px) {
	.f{
		width: 250px;
		height: 250px;
		
	}
	.f:hover{
	border-style: ridge;
	border-color: #BD0000;
}
	.lo{
		height: 450px;
		width: 250px;
	    margin-right: 80px;
	}
	.mapouter{
        width: 250px;
        height: 250px;
        margin-left: 200px;
	}
	h1:hover{
		color: #BD0000;

		

	}
	.j{
		margin-left: 460px;
	}
	.j:hover{
        color: #BD0000;
	}
	h4{
	   margin-left:12px;
	   font-size: 20px;
	}
	h4:hover{
		color: #BD0000;
	}
	
	audio{
		margin-left: 350px;
	}
	.hoho{
		margin-left: 300px;
	}
}

@media only screen and (max-width: 768px) {
	.f{
		width: 150px;
		height: 150px;
		
		
	}
	.f:hover{
	border-style: ridge;
	border-color: #BD0000;
}
	.pl{
		margin-left:110px; 
	}
	.lo{
		height: 250px;
		width: 150px;
	    margin-right: 10px;
	}
	.mapouter{
        width: 50px;
        height: 50px;
        margin-left: 80px;
	}
	h1:hover{
		color: #BD0000;

		

	}
	.j{
		margin-left: 320px;
	}
	.j:hover{
        color: #BD0000;
	}
	h4{
	   margin-left:12px;
	   font-size: 15px;
	}
	h4:hover{
		color: #BD0000;
	}
	
	audio{
		margin-left: 200px;
	}
	.hoho{
		margin-left: 180px;
	}
}
@media only screen and (max-width: 375px) {
  section{
  	display: flex;
  	columns: all;
  }
  h1{
  	text-align: center;
  }
  .lo{
  	width: 100px;
  }
  .f{
  	width: 100px;
  	height: 100px;
  }
  .j{
  	text-align: center;
  }
  h4{
  	font-size: 15px;
  }
  audio{
  	margin-left: 120px;
  }
 .hoho{
 	margin-left: 120px;
 }
 .mapouter{
 	width: 100px;
 	height: 100px;
 	margin-left: 60px;
 }
 .sos{
 	display: flex;
 	flex-wrap: nowrap;
 }
}